html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--standard);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

/******* Header *******/

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 10vh;
}
.header__logo {
    flex-grow: 1;
    padding: 1%;
    opacity: 90%;
    cursor: pointer;
    
}
.header__nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1; 
}
.header__nav a {
    width: 25%;
    text-decoration: none;
    text-align: center;
    color: var(--dark);
    font-size: var(--nav);
    cursor: pointer;
    padding: 0.1%;
}
.header__nav a:hover {
    color: var(--gold);
}
.header__nav--cta {
    width: 12%;
    text-decoration: underline 1.5px var(--dark);
    text-align: center;
    margin-right: 5%;
}

/******* Frontpage *******/

.frontpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    background-image: var(--gradient), url('/assets/img/ocean-img.png');
    background-size: cover;  
}
.frontpage__title {
    font-size: 3.3em;
    color: var(--light);
    margin-top: 8%;
}
.frontpage__quote {
    font-size: 2em;
    color: var(--light);
    padding: 2.2%;
}
.frontpage__link {
    font-size: 1.5em;
    padding: 0.5%;
    color: var(--light);
    border: 2px solid var(--light);
    padding: 8px 35px 8px 35px;
    border-radius: 2px;
    text-decoration: none;
}
.frontpage__link:hover {
    color: var(--gold);
    border-color: var(--gold);
    cursor: pointer;
}

.frontpage__arrow {
    height: 25%;
    padding: 2%;
    cursor: pointer;
}

/******* Become member *******/

#member {
    background-image: url("../assets/img/turtle.jpg");
    background-size: cover;
    opacity: 95%;
 }
 .member__container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
 }
 .member__img {
    display: flex;
    width: 23%;
    height: 75vh;
    background-image: url("../assets/img/wave.jpg");
    background-size: cover;
    border: 2px solid var(--gold);
 }
 .member__register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 75vh;
    padding-left: 15%;
    border: 2px solid var(--gold);
 }
 .member__title {
    color: var(--light);
    padding: 10px;
    font-size: 2.8em;
    margin-bottom: -4%;
 }
 .member__label {
    font-size: 1.2em;
    color: var(--light);
 }
 .member__input{
    margin-top: 1%;
    width: 100%;
    height: 9%;
    padding: 5px;
 }
 .member__submit {
    width: 100%;
    height: 12%;
    border: none;
    font-size: 1.2em;
    color: var(--dark);
    background-color: var(--gold);
 }
 .member__submit:hover {
    color: var(--light);
    background-color: #66a5a1;
 }

 /******* Passionate causes *******/

 #causes {
     height: 100vh;
     width: 100vw;
 }
 .causes__title {
    font-size: 2.2em;
    text-align: center;
    padding: 10px;
    color: var(--gold);
    padding-top: 80px;
    margin-bottom: -1.5%;
 }
 .causes__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 78vh;
    padding: 60px;
 }
 .causes__cause {
    display: flex;
    width: 21%;
    border: 1.9px solid var(--gold);
    border-radius: 1px;
    padding: 10px;
    color: var(--light)
 }
 .causes__cause p {
    margin-top: 118%;
    justify-content: center;
    text-align: center;
    padding: 10px;  
    color: var(--light);
    font-size: 1.5em;
    text-decoration: none;
 }
 .causes__ocean {
    background-size: cover;
    background-image: url("../assets/img/plastic-ocean.png");
 }
 .causes__minority {
    background-size: cover;
    background-image: url("../assets/img/humans.png");
 }
 .causes__fishing {
    background-size: cover;
    background-image: url("../assets/img/fishing-net.png");
 }
 .causes__enviroment {
    background-size: cover;
    background-image: url("../assets/img/nature.png");
 }
 
 /***** importance of the ocean *****/

#ocean {
    height: 100vh;
    background-image: var(--gradient),
       url("../assets/img/section2-bg-jelly2.jpg");
    background-size: cover;
 }

 .ocean__container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 93%;
    height: 100vh;
 }
 .ocean__item {
    display: flex;
    padding: 20px;
    height: 80vh;
 }
 .ocean__video{
    margin-top: 5%;
    margin-left: 3%;
    width: 40vw;
    height: 55vh;
    padding: 15px;
    border: 0.5px solid orange;
 }
 .ocean__title {
    font-size: 3.3em;
    color: var(--light);
    margin-left: 30px;
 }
 .ocean__cta{
    align-self: flex-end;
    margin-left: -26%;
    width: 27%;
    height: 5%;
    margin-bottom: 5%; 
    border-left: 2px solid orange;
    color: var(--light);
    text-decoration: none;
    text-align: center;
    font-size: 1.4em;
 }
 .ocean__cta:hover {
     border: none;
     text-decoration: underline orange;
 }
 .importance-ocean-item > a:hover {
    border-color: var(--light);
 }

 /****** about the party ******/
 #about{
    background-image: url("../assets/img/wave.png");
    background-size: cover;
    padding: 3em;
 }
 
 .about__container {
    display: flex;
    align-self: center;
    width: 85vw;
    height: 80vh;
    margin: 0 auto;
    border-radius: 1.5px;
    background-color: var(--light);
 }
 .about__title {
    padding: 80px;
    text-align: left;
    margin-bottom: -3%;
    font-size: 2em;
    writing-mode: vertical-lr;
 }
 .about__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 84%;
    background-color: var(--gold);
 }
 .about__content--left {
    width: 30%;
    padding-top: 5%;
    line-height: 1.5;
    color: var(--dark);
 }
 .about__content--right {
    width: 30%;
    padding-top: 5%;
    line-height: 1.5;
    color: var(--dark);
 }
 .about__seashell {
    width: 22%;
    height: 50%;
    padding: 6%;
    margin-top: 6%; 
 }
 
/****** footer *****/

.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.966);
 }
 
 .footer__item1 {
    padding: 3%;
    flex-grow: 2;
 }
 
 .footer__contact {
    padding: 3%;
    flex-grow: 1;
 }
 
 .footer__title {
    font-size: 1.3em;
    padding: 30px;
    color: var(--gold);
 }
 
 .footer__nav{
    display: flex;
    flex-direction: row;
 }
 
 .footer__nav a {
    color: var(--gold);
    text-decoration: none;
    padding: 35px;
    font-size: 1.2em;
 }
 .footer__nav a:hover {
    color: var(--light);
 }
 .footer__info {
     padding: 30px;
 }
 .footer__info p {
    color: var(--gold);
    text-decoration: none;
    padding: 10px;
    font-size: 1.2em;
 }
 
 .footer__info p:hover {
    color: var(--light);
 }
 
 .footer__info {
    display: flex;
    flex-direction: column;
 }
 
